<!DOCTYPE html>
<html>
<head>
    <title>Register Worker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Register Worker</h1>
    <a href="{{ url_for('dashboard') }}" class="back-link">← Back to Dashboard</a>

<form method="post">
    Name: <input type="text" name="name" required><br>
    Phone: <input type="text" name="phone_number" required><br>
    DOB: <input type="date" name="date_of_birth" required><br>
    Gender: <input type="text" name="gender" required><br>
    Qualifications: <input type="text" name="qualifications" required><br>
    Position: <input type="text" name="position" required><br>
    National ID: <input type="text" name="national_id" required><br>
    Nationality: <input type="text" name="nationality" required><br>
    Address: <input type="text" name="home_address" required><br>
    Ethnic Group: <input type="text" name="ethnic_group" required><br>
    Residence: <input type="text" name="place_of_residence" required><br>
    Disability (optional): <input type="text" name="disability"><br>
    Email: <input type="email" name="email" required><br>
    Date of Employment: <input type="date" name="date_of_employment" required><br>

    <input type="submit" value="Register Worker">
</form>
</body>
</html>
